/**
!/.gitignore
!/README.md
!/.zshrc
!/.gitconfig
!/.aliases.sh
!/.config/
!/.config/calibre/
!/.config/calibre/*
!/.config/compton/
!/.config/compton/*
!/.config/i3/
!/.config/i3/*
!/.config/i3blocks/
!/.config/i3blocks/*
!/.config/lutris/
!/.config/lutris/**
!/.config/mpv/
!/.config/mpv/*
!/.config/rofi/
!/.config/rofi/*
!/.config/VSCodium/
!/.config/VSCodium/User/
!/.config/VSCodium/User/*
!/.install_i3.sh
!/.install_gnome.sh
!/.set-brightness.sh
!/gnome-terminal-profiles.dconf
