/* Rofi config file */
configuration {
    lines: 12;
    font: "Font Awesome 12";
    show-icons: true;
    icon-theme: "Numix-Circle";
    theme: "oxide";
    display-window: "Window";
    display-drun: "Search";
}
