/* Rofi config file */
configuration {
    font: "Font Awesome 14";
    show-icons: true;
    icon-theme: "Papirus";
    display-window: "Window";
    display-drun: "Search";
}

listview {
    lines: 12;
}

@theme "oxide"

element-icon {
    size: 2ch ;
}
